<button (click)="addItem()">Add Item</button>
<div class="wrapper">
<div class="inputform" [ngClass]="{'slide-in': showedit === true, 'slide-out': showedit === false}">
  <mat-icon (click)="showedit = false">close</mat-icon>
  <form class="form-inline" [formGroup]="scopeForm" (ngSubmit)="formSubmit()">
    <label for="name">Name:</label>
    <input type="text" id="name" placeholder="Enter name" formControlName="scopeName">
    <label for="help">Help Text:</label>
    <input type="text" id="help" placeholder="Enter Help Text" formControlName="help">
    <!-- <button>Cancel</button> -->
    <button type="submit">Submit</button>
  </form>
</div>

<mat-tree 
[dataSource]="dataSource" 
[treeControl]="treeControl" 
cdkDropList 
(cdkDropListDropped)="drop($event)"
>
  <!-- <mat-tree-node 
  *matTreeNodeDef="let node" 
  matTreeNodeToggle 
  matTreeNodePadding 
  cdkDrag 
  [cdkDragData]="node" 
  (mouseenter)="dragHover(node)" 
  (mouseleave)="dragHoverEnd()" 
  (cdkDragStarted)="dragStart()" 
  (cdkDragReleased)="dragEnd()">
    <button mat-icon-button disabled></button>
    {{node.filename}} : {{node.type}}
  </mat-tree-node> -->

  <mat-tree-node 
  *matTreeNodeDef="let node;when: hasChild" 
  matTreeNodePadding 
  cdkDrag 
  [cdkDragData]="node" 
  (mouseenter)="dragHover(node)" 
  (mouseleave)="dragHoverEnd()" 
  (cdkDragStarted)="dragStart()" 
  (cdkDragReleased)="dragEnd()"
  >
    <button 
    mat-icon-button 
    matTreeNodeToggle 
    [ngClass]="{ hideme: !(node.level === 0 && _hasChildren(node.scopeId)) }"
    (click)="expansionModel.toggle(node.scopeId)"
    [attr.aria-label]="'toggle ' + node.scopeName">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <!-- {{node.filename}} : {{node.type}} -->
    <input type="text" [value]="node.scopeName" #nodeVal [disabled]="node.scopeId !== activeEditNodeId" [ngClass]="{'iseditable': node.scopeId === activeEditNodeId}">
    <button
        class="help-text"
        [ngClass]="{ hideme: !(node.level === 0 && _hasChildren(node.scopeId)) }"
        [matTooltip]="node.help"
        matTooltipPosition="right"
        aria-label="Button that displays a tooltip in various positions">
        <mat-icon>help_outline</mat-icon>
    </button>

    <div class="action-icons">
      <mat-icon *ngIf="node.scopeId !== activeEditNodeId" (click)="activeEditNodeId = node.scopeId">edit</mat-icon>
      <mat-icon aria-hidden="false" *ngIf="activeEditNodeId && node.scopeId === activeEditNodeId" aria-label="Example home icon" (click)="onSave($event,node, nodeVal.value)">save</mat-icon>
      <mat-icon (click)="onDelete(node)">delete</mat-icon>
      <mat-icon (click)="onAddChild(node, nodeVal.value)" *ngIf="node.level === 0">add</mat-icon>
    </div>
  </mat-tree-node>
  </mat-tree>
</div>