@import '~@angular/material/theming';
/**
 * TREE DRAG AND DROP STYLING
 */

 .mat-tree-node {
    background-color: rgb(66, 157, 253);
    color: white;
    user-select: none;
    cursor: move;
  
    &.cdk-drag-preview { // while dragging
      @include mat-elevation(12);
    }
    &.cdk-drag-placeholder { // potential drop area
      opacity: 0;
    }
  }
  
  /* items moving away to make room for drop */
  .cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  /* item being dropped */
  .cdk-drag-animating {
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
  }

  .mat-tree input {
    float: right;
    border: 0;
    background: transparent;
    color: #fff;
    outline: none;
    width: 70%;
  }

  .iseditable {
      border-bottom: 1px Solid #fff;
  }

  mat-icon {
    cursor: pointer;
  }

  .form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }
  
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }