@import '~@angular/material/theming';
/**
 * TREE DRAG AND DROP STYLING
 */

 .mat-tree-node {
    background-color: rgb(66, 157, 253);
    color: white;
    user-select: none;
    cursor: move;
  
    &.cdk-drag-preview { // while dragging
      @include mat-elevation(12);
    }
    &.cdk-drag-placeholder { // potential drop area
      opacity: 0;
    }
  }
  
  /* items moving away to make room for drop */
  .cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  /* item being dropped */
  .cdk-drag-animating {
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
  }

  .mat-tree input {
    float: right;
    border: 0;
    background: transparent;
    color: #fff;
    outline: none;
    width: 70%;
  }

  .iseditable {
      border-bottom: 1px Solid #fff;
  }

  mat-icon {
    cursor: pointer;
  }

  
  .inputform input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .inputform button {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .inputform button:hover {
    background-color: #45a049;
  }
  
  .inputform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow:
    0 10.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 10.5px 10px rgba(0, 0, 0, 0.06);
    min-height: 200px;
    width: 30vw;
    background: white;
    border-radius: 5px;
  }
  
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .hideme {
    visibility: hidden;
  }

  .help-text {
    border: 0;
    background: no-repeat;
    color: #fff;
  }

  .wrapper {
    position: relative;
  }

  .inputform {
    right: -100%;
    top: 0;
    position: absolute;
    transition: right cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .inputform.slide-in {
    right: 0;
  }

  .inputform.slide-out {
    right: -100%
  }

  input[disabled] {
    background-color: #e2e2e2;
  }