<button click="addItem()">Add Item</button>
<input type="text" [(ngModel)]="newItem">
<mat-tree 
[dataSource]="dataSource" 
[treeControl]="treeControl" 
cdkDropList 
(cdkDropListDropped)="drop($event)"
>
  <mat-tree-node 
  *matTreeNodeDef="let node" 
  matTreeNodeToggle 
  matTreeNodePadding 
  cdkDrag 
  [cdkDragData]="node" 
  (mouseenter)="dragHover(node)" 
  (mouseleave)="dragHoverEnd()" 
  (cdkDragStarted)="dragStart()" 
  (cdkDragReleased)="dragEnd()">
    <button mat-icon-button disabled></button>
    {{node.filename}} : {{node.type}}
  </mat-tree-node>

  <mat-tree-node 
  *matTreeNodeDef="let node;when: hasChild" 
  matTreeNodePadding 
  cdkDrag 
  [cdkDragData]="node" 
  (mouseenter)="dragHover(node)" 
  (mouseleave)="dragHoverEnd()" 
  (cdkDragStarted)="dragStart()" 
  (cdkDragReleased)="dragEnd()"
  >
    <button 
    mat-icon-button 
    matTreeNodeToggle 
    (click)="expansionModel.toggle(node.id)"
    [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <!-- {{node.filename}} : {{node.type}} -->
    <input type="text" [value]="node.filename" #nodeVal [disabled]="node.id !== activeEditNodeId" [ngClass]="{'iseditable': node.id === activeEditNodeId}">

    <div class="action-icons">
      <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="node.id !== activeEditNodeId" (click)="activeEditNodeId = node.id">edit</mat-icon>
      <mat-icon aria-hidden="false" *ngIf="activeEditNodeId && node.id== activeEditNodeId" aria-label="Example home icon" (click)="onSave($event,node, nodeVal.value)">save</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
    </div>
  </mat-tree-node>
</mat-tree>